.a{
    font-family: 'Sriracha', cursive;
    text-align: center;
}

.b{
    font-family: 'Prompt', sans-serif;
    font-family: 'Sriracha', cursive;
    color: black ;
    text-align: center;
    }
.c{
    color: black ;
    font-size: 12pt;
    font-family: 'Itim', cursive;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Sriracha', cursive;
    /* div */
    border: 2px dashed black;
    background-color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;max-width: 600px;min-width: 480px;max-height: 300px;min-height: 150px;
}
.d{
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}
.e{
    width: 360px;
    height: 240px;
}
.f{
    width: 720px;
    height: 80px;
}
.ff{
    width: 630px;
    height: 60px;
}
.g{
    color: red ;
    font-size: 12pt;
}
.h{
    width: 100px;
    height: 100px;
}
header{
    width: 100vw;
    height: 300px;
    font-family: 'Poppins';
    position: fixed;
}
header nav{
    float: left;
    height: 100%;
}
header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
} 
header nav li:last-of-type .LL{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: text-top;
}

header nav a{
    color: black;
    text-decoration: none;
}
header nav .button{
    background-color: #000000; 
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}
header .inner{
    width: 300px; 
    height: 100%;
    display: block;
    margin: revert;
}
header .Outner {
    border: 2px black dashed;
    background-color: white;
    width: 250px; height: 10;
}
header a{
    color: black;
}
body{
    background-color: #e5f8ff;
}
